# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore all makefiles
!Makefile

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.swp
*.swo
*.out

# .tar ,.zip and other archives
*.tar
*.zip
*.gz

# annoying folders
*/.vscode/*